.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

/.venv/
/venv/
*.egg-info/

/dist/
/*.so
/test

/lib/
/download/
/_install/
node_modules
package-lock.json
example
build-swift-macos
build-ios
build-wasm-simd-nodejs
.build
target/
